<!DOCTYPE html>
<html>
<head>
    <title>Chat History</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Chat History<</h1>
        <p><a href="/add">データベースに登録する</a></p>
        
        <p><a href="/read">データベースを閲覧する</a></p>

        <!-- <p><a href="/wordlist">頻出ワード</a></p> -->
    </div>
</body>

</html>
