<!-- show_chatのためのlayout -->

<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
    href="{{url_for('static', filename='style.css')}}">

    <title class="container">{% block title %}{% endblock %}</title>
</head>
<body class="container">
    <h1>{% block head %}{% endblock %}</h1>
    <h2>{% block h2 %}{% endblock %}</h2>

    {% block content %}{% endblock %}

    <div class = 'footer'>
        {% block footer %}{% endblock %}    
    </div>
</body>
</html>
